nodered.flow
[{"id":"7fe22f30.6b6a","type":"debug","z":"2003314c.fad2fe","name":"","active":true,"console":"false","complete":"false","x":598,"y":193,"wires":[]},{"id":"b16ba641.af4788","type":"mqtt in","z":"2003314c.fad2fe","name":"","topic":"discover/plc/out","qos":"0","broker":"16a3f11b.3ec7cf","x":261,"y":178,"wires":[["7fe22f30.6b6a","35df71a3.247aee"]]},{"id":"916515d8.ce7aa8","type":"mqtt out","z":"2003314c.fad2fe","name":"","topic":"discover/plc/in","qos":"0","retain":"","broker":"16a3f11b.3ec7cf","x":385,"y":80,"wires":[]},{"id":"7742244a.deb91c","type":"inject","z":"2003314c.fad2fe","name":"","topic":"","payload":"localhost","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":78,"wires":[["916515d8.ce7aa8"]]},{"id":"35df71a3.247aee","type":"file","z":"2003314c.fad2fe","name":"","filename":"/var/snap/nodered/common/out.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":601,"y":261,"wires":[]},{"id":"16a3f11b.3ec7cf","type":"mqtt-broker","z":"2003314c.fad2fe","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
